
<div>

    <div data-accordion data-close-others="false">
      <div class="filters-subsection"
          data-accordion-group
          data-is-open="isOpen">

        <div data-accordion-heading >
          <button class="filters-title"
                  ng-class="{open: isOpen}">
            <!-- TODO: hardcoded -->
            Development Stage
          </button>
          <button class="filters-state pull-right"
              data-is-checked={{getGroupsSelected()}}
              data-ng-click="toggleAllGroups()"
              data-stop-event="click">
          </button>
          <div class="clear"></div>
        </div>

        <div data-ng-repeat="group in groups" class="dev-stages-filters-group">
          <div class="filters-sub-title">{{group.name}} Lane</div>
          <button data-ng-repeat="option in group.options"
              class="btn btn-default btn-block single-filter-button"
              ng-class="'dev-stage-' + option.selectionValue.lane.id.toLowerCase() + '-' + '0' + option.selectionValue.phase"
              data-ng-click="toggleSelection(option)"
              data-is-checked={{option.isSelected}}>
            {{option.name}}
          </button>
        </div>

      </div>
    </div>

</div>