<div class="modal-header-close">
	<div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
</div>
<div class="container contribute">

	<!-- GET INVOLVED -->
	<div class="row">
		<div class="col-sm-4">  			
			<h3 class="blue">Get Involved.<br>Develop & Contribute.</h3>
		</div>
		<div class="col-sm-8">
			<p class="first-paragraph">You can contribute with your own plugins and let everyone take advantage of your work, which represents a great path to get other people's feedback and involvement in your work.</p>
			<p>You can also contributing to the translation process, propose a new language or change one of the availables ones. Find more info below.</p>
		</div>
	</div>
	<!-- GET INVOLVED -->
</div>
<div class="contribute-bottom-row">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<img src="img/develop-plugins-icon.svg">
				<h4>Develop plugins</h4>
				<p class="contribute-description">All info to setup a new plugin.</p>
				<a href="#">View info</a>
				<hr class="visible-xs">
			</div>
			<div class="col-sm-4 text-center">
				<img src="img/submit-plugins-icon.svg">
				<h4>Submit plugins</h4>
				<p class="contribute-description">Simple and quick.</p>
				<a href="#">View info</a>
				<hr class="visible-xs">
			</div>
			<div class="col-sm-4 text-center no-border">
				<img src="img/translate-pentaho-icon.svg">
				<h4>Translate Pentaho</h4>
				<p class="contribute-description">Check out what’s already translated.</p>
				<a href="#">View info</a>
			</div>
		</div>
	</div>
</div>