<div class="modal-header-close">
	<div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
</div>
<div class="container dev-stages" ng-controller="MarketplaceController">

	<!-- CUSTOMER LANE -->
	<div class="row">
		<div class="col-sm-4">  			
			<h3 class="blue">{{devStagesTypes[0].name}}</h3>
			<p>{{devStagesTypes[0].description}}</p>
		</div>
		<div class="col-sm-8">
			<span class="plugin-modal-label">Stages:</span><br>
			<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group dev-stages-list">
			    <li class="list-group-item" ng-repeat="devStage in devStages | filter:{type:devStagesTypes[0].name}">
			    	<div class="row">
			    		<div class="col-sm-10 dev-stage-description">
							<p><strong>{{devStage.name}}:</strong> {{devStage.description}}</p>
			    		</div>
			    		<div class="col-sm-2 text-center dev-stage-image">
			    			<img ng-src="{{devStage.imageLarge}}" alt="">
			    		</div>
			    	</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<!-- CUSTOMER LANE -->

	<hr>

	<!-- COMMUNITY LANE -->
	<div class="row">
		<div class="col-sm-4">  			
			<h3 class="green">{{devStagesTypes[1].name}}</h3>
			<p>{{devStagesTypes[1].description}}</p>
		</div>
		<div class="col-sm-8">
			<span class="plugin-modal-label">Stages:</span><br>
			<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group dev-stages-list">
			    <li class="list-group-item" ng-repeat="devStage in devStages | filter:{type:devStagesTypes[1].name}">
			    	<div class="row">
			    		<div class="col-sm-10 dev-stage-description">
							<p><strong>{{devStage.name}}:</strong> {{devStage.description}}</p>
			    		</div>
			    		<div class="col-sm-2 text-center dev-stage-image">
			    			<img ng-src="{{devStage.imageLarge}}" alt="">
			    		</div>
			    	</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<!-- COMMUNITY LANE -->
</div>