<div class="modal-header-close">
	<div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
</div>
<div class="container dev-stages">

	<!-- CUSTOMER LANE -->
	<div class="row">
		<div class="col-sm-4">  			
			<h3 class="blue">Customer Lane</h3>
			<p>Always overseen by PM and Engineering, projects in the Customer Lane can either start as customer-sponsored initiatives or as projects developed in the Community Lane that create value for Pentaho subscription customers. Pentaho will provide official support based on current support policies to projects on the Customer Lane.</p>
		</div>
		<div class="col-sm-8">
			<span class="plugin-modal-label">Stages:</span><br>
			<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group dev-stages-list">
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Development:</strong> Start up phase of an internal project. Usually a Labs experiment.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-01-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Snapshot Release:</strong> Unstable and unsupported branch, not recommended for production use.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-02-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Limited Release:</strong> Assistence given by Services Development with no contractual support for production environments.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-03-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Production Release:</strong> Production release with PM assigned, fully supported as part of the Pentaho release cycle.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-04-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<!-- CUSTOMER LANE -->

	<hr>

	<!-- COMMUNITY LANE -->
	<div class="row">
		<div class="col-sm-4">  			
			<h3 class="green">Community Lane</h3>
			<p>The Community Lane will be used for projects created by Pentaho Consulting or Engineering Services, in which case they will be managed so they do not conflict with the long-term architecture and functionality planned in the Pentaho product roadmap.</p>
		</div>
		<div class="col-sm-8">
			<span class="plugin-modal-label">Stages:</span><br>
			<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group dev-stages-list">
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Development:</strong> Start up phase of an internal project. Usually a Labs experiment.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-community-01-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Snapshot Release:</strong> Unstable and unsupported branch, not recommended for production use.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-community-02-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Stable Release:</strong> Adoption is ramping up and product could be used in production environments.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-community-03-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			    <li class="list-group-item">
			    	<div class="row">
			    		<div class="col-xs-10">
							<p><strong>Mature Release:</strong> Indicates a successfully adopted project in a mature state.</p>
			    		</div>
			    		<div class="col-xs-2 text-center dev-stage-image">
			    			<img src="img/dev-stage-community-04-large.svg" alt="">
			    		</div>
			    	</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<!-- COMMUNITY LANE -->
</div>