<div class="plugin-modal-gallery findMarketplaceGallery">
  <div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
</div>
<div class="container findMarketplace">
  <!-- Marketplace The Project -->
  <div class="row">
    <div class="col-sm-4">  			
      <h3 class="blue">Pentaho Marketplace.<br>The Project.</h3>
    </div>
    <div class="col-sm-8">
      <p class="first-paragraph">Pentaho Marketplace allows users to explore and test the plugins that are most relevant for them. It means high quality and useful plugins that users can use to get the most out of their business.</p>
    </div>
  </div>
  <!-- Marketplace The Project -->
</div>
<div class="findMarketplace-bottom-row" >
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <img src="img/download-marketplace-icon.svg" class="pull-left">
        <h4 class="pull-left">Download<br>Marketplace</h4>
        <div class="clear"></div>
      </div>
      <div class="col-sm-8 text-left">
        <p class="first-paragraph">Download and install plugins developed by the Pentaho Community, extending the capabilities of your Pentaho platform.</p>        
        <div data-download-marketplace></div>
      </div>
    </div>
  </div>
</div>