<div class="plugin-modal-gallery" ng-class="{empty: plugin.screenshotUrls.length == 0}">
  <div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
  <div owlcarousel class="owl-carousel">
    <div class="item" ng-repeat="image in plugin.screenshotUrls">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img ng-src="{{image}}">            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container plugin-details-container">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{plugin.name}}</h1>
      <p class="plugin-modal-author">{{plugin.author.name | cut:false:20:'...'}}</p>
      <p ng-bind-html="plugin.description" class="plugin-modal-description"></p>
    </div>
    <div class="col-sm-8" ng-class="{ noDocs: !plugin.documentationUrl }">
      <div class="panel panel-default">
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <span class="plugin-modal-label">Developer:</span><br>
                <a class="plugin-modal-link" data-ng-href="{{plugin.author.siteUrl}}" title="{{plugin.author.name}}" target="_blank">{{plugin.author.name | cut:false:20:'...'}}</a>
              </div>
              <div class="col-sm-4">
                <span class="plugin-modal-label">Version:</span><br>
                <span class="plugin-modal-value" ng-show="plugin.getVersionWithHighestStage().version">{{plugin.getVersionWithHighestStage().version}}</span>
                <span class="plugin-modal-value" ng-hide="plugin.getVersionWithHighestStage().version">-</span>
              </div>
              <div class="col-sm-4">
                <span class="plugin-modal-label">Released:</span><br>
                <span class="plugin-modal-value">n/a</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <span class="plugin-modal-label">Forum:</span><br>
                <a class="plugin-modal-link" href="{{plugin.author.forumUrl}}" title="{{plugin.author.name}}" target="_blank" ng-show="plugin.forumUrl">Forum</a>
                <span class="plugin-modal-value" ng-hide="plugin.forumUrl">-</span>
              </div>
              <div class="col-sm-4">
                <span class="plugin-modal-label">Dependencies:</span><br>
                <span class="plugin-modal-value" ng-show="plugin.dependencies">{{plugin.dependencies}}</span>
                <span class="plugin-modal-value" ng-hide="plugin.dependencies">-</span>
              </div>
              <div class="col-sm-4">
                <span class="plugin-modal-label">License:</span><br>
                <span class="plugin-modal-value" ng-show="plugin.license">{{plugin.license.name}}</span>
                <span class="plugin-modal-value" ng-hide="plugin.license">-</span>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-show="plugin.credits">
            <div class="row">              
              <div class="col-sm-12">
                <span class="plugin-modal-label">Credits:</span><br>
                <p class="plugin-modal-credits" ng-show="plugin.credits">{{plugin.credits}}</p>
                <p class="plugin-modal-credits" ng-hide="plugin.credits">Diogo Mariano, Duarte Leão, Gonçalo Neto, Nuno Moreira, Pedro Alves, Pedro Vale.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item plugin-modal-stage-row">
            <div class="row" ng-show="plugin.getVersionWithHighestStage().devStage">
              <div class="col-sm-12">
                <span class="plugin-modal-label">Stage:</span><br>
                <div class="row plugin-modal-stage">
                  <div class="col-sm-10"><strong>{{plugin.getVersionWithHighestStage().devStage.name}}:</strong> {{plugin.getVersionWithHighestStage().devStage.description}}</div>
                  <div class="col-sm-2 text-center">
                    <div data-dev-stage-icon
                        data-disable-popup="true"
                        data-lane="plugin.getVersionWithHighestStage().devStage.lane.id"
                        data-phase="plugin.getVersionWithHighestStage().devStage.phase">
                    </div>
                    <!-- <img ng-src="{{(devStages | filter:{id:plugin.stage})[0].imageLarge}}" alt=""> -->
                  </div>
                </div>
              </div>
            </div>  
            <div class="row" ng-hide="plugin.getVersionWithHighestStage().devStage">
              <div class="col-sm-12">
                <span class="plugin-modal-label">Stage:</span><br>
                <p class="plugin-modal-credits">No stage assigned.</p>
              </div>
            </div>            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="plugin-buttons-row">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-ng-href={{plugin.getVersionWithHighestStage().downloadUrl}} target="_blank" class="download-plugin-container">
          <button type="button" class="btn btn-block download-plugin" data-ng-disabled="!plugin.getVersionWithHighestStage().downloadUrl" >Download Plugin</button>
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <button type="button" class="btn btn-block contact-dev" disabled>Contact Dev.</button>
      </div>
      <div class="col-sm-12 col-md-4" class="plugins-buttons-row-button">
        <button type="button" class="btn btn-block live-demo" disabled>Live Demo</button></div>

      <!--
      <div class="col-sm-12 col-md-3">
        <p class="recommend-plugin-label">Recommend this plugin:</p>
        <div class="recommend-plugin-buttons">
          <div class="recommend-plugin-button recommend-email"></div>
          <div class="recommend-plugin-button recommend-twitter"></div>
          <div class="recommend-plugin-button recommend-blogger"></div>
          <div class="recommend-plugin-button recommend-facebook"></div>
          <div class="recommend-plugin-button recommend-linkedin"></div>
          <div class="clear"></div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>