<div class="plugin-modal-gallery" ng-class="{empty: !plugin.screenshots.screenshot}">
  <div class="close-plugin-modal" ng-click="closeThisDialog()"></div>
  <div owlcarousel class="owl-carousel">
    <div class="item" ng-repeat="image in plugin.screenshots.screenshot">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img ng-src="{{image}}">            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{plugin.name}}</h1>
      <p class="plugin-modal-author">{{plugin.author | cut:false:20:'...'}}</p>
      <p ng-bind-html="plugin.description" class="plugin-modal-description"></p>
    </div>
    <div class="col-sm-8" ng-class="{ noDocs: !plugin.documentation_url }">
      <div class="col-sm-12 plugin-modal-details-table">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <span class="plugin-modal-label">Developer:</span><br>
            <a class="plugin-modal-link" href="{{plugin.author_url}}" title="{{plugin.author}}" target="_blank">{{plugin.author | cut:false:20:'...'}}</a>
          </div>
          <div class="col-xs-6 col-md-4">
            <span class="plugin-modal-label">Version:</span><br>
            <span class="plugin-modal-value" ng-show="plugin.versions.version[0].version">{{plugin.versions.version[0].version}}</span>
            <span class="plugin-modal-value" ng-hide="plugin.versions.version[0].version">-</span>
          </div>
          <div class="col-xs-6 col-md-4">
            <span class="plugin-modal-label">Released:</span><br>
            <span class="plugin-modal-value">n/a</span>
          </div>
          <div class="col-xs-6 col-md-4 forum-cell">
            <span class="plugin-modal-label">Forum:</span><br>
            <a class="plugin-modal-link" href="{{plugin.author_url}}" title="{{plugin.author}}" target="_blank" ng-show="plugin.forum_url">Forum</a>
            <span class="plugin-modal-value" ng-hide="plugin.forum_url">-</span>
          </div>
          <div class="col-xs-6 col-md-4 dependencies-cell">
            <span class="plugin-modal-label">Dependencies:</span><br>
            <span class="plugin-modal-value" ng-show="plugin.dependencies">{{plugin.dependencies}}</span>
            <span class="plugin-modal-value" ng-hide="plugin.dependencies">-</span>
          </div>
          <div class="col-xs-6 col-md-4 license-cell">
            <span class="plugin-modal-label">License:</span><br>
            <span class="plugin-modal-value" ng-show="plugin.license">{{plugin.license}}</span>
            <span class="plugin-modal-value" ng-hide="plugin.license">-</span>
          </div>
        </div>
        <div class="row" ng-show="plugin.credits">
          <div class="col-sm-12">
            <span class="plugin-modal-label">Credits:</span><br>
            <p class="plugin-modal-credits" ng-show="plugin.credits">{{plugin.credits}}</p>
            <p class="plugin-modal-credits" ng-hide="plugin.credits">Diogo Mariano, Duarte Leão, Gonçalo Neto, Nuno Moreira, Pedro Alves, Pedro Vale.</p>
          </div>
        </div>
        <div class="row plugin-modal-stage-row" ng-show="plugin.stage == '3'">
          <div class="col-sm-12">
            <span class="plugin-modal-label">Stage:</span><br>
            <div class="row plugin-modal-stage">
              <div class="col-xs-10"><strong>Limited Support:</strong> Assistance given by Services Development with no contractual support for production environments.</div>
              <div class="col-xs-2 text-center"><img src="img/dev-stage-03-large.svg" alt=""></div>
            </div>
            <p class="plugin-modal-credits" ng-hide="plugin.stage">No stage.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="plugin-buttons-row">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"><button type="button" class="btn btn-block download-plugin">Download Plugin</button></div>
      <div class="col-sm-3"><button type="button" class="btn btn-block contact-dev">Contact Dev.</button></div>
      <div class="col-sm-3"><button type="button" class="btn btn-block live-demo">Live Demo</button></div>
      <div class="col-sm-3">
        <p class="recommend-plugin-label">Recommend this plugin:</p>
        <div class="recommend-plugin-buttons">
          <div class="recommend-plugin-button recommend-email"></div>
          <div class="recommend-plugin-button recommend-twitter"></div>
          <div class="recommend-plugin-button recommend-blogger"></div>
          <div class="recommend-plugin-button recommend-facebook"></div>
          <div class="recommend-plugin-button recommend-linkedin"></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>