
  <div>

    <div data-accordion data-close-others="false">
      <div class="filters-subsection"
          data-accordion-group
          data-ng-repeat-start="group in groups"
          data-is-open="group.isOpen">

        <div data-accordion-heading >
          <button class="filters-title"
                  ng-class="{open: group.isOpen}">
            {{group.name}}
          </button>
          <button class="filters-state pull-right"
              data-is-checked={{group.selected}}
              data-ng-click="groupClicked( group )"
              data-stop-event="click">
          </button>
          <div class="clear"></div>
        </div>

        <div class="REMOVED-filters-subsection-items">
          <button data-ng-repeat="option in group.options"
              class="btn btn-default btn-block single-filter-button"

              data-ng-click="toggleSelection(option)"
              data-is-checked={{option.isSelected}}>
            {{option.name}}
          </button>
        </div>

      </div>

      <div style="display: none" data-ng-repeat-end></div>

    </div>

</div>