
  <div>

    <div data-accordion data-close-others="true">
      <div class="filters-subsection"
          data-accordion-group
          data-ng-repeat-start="group in groups"
          data-is-open="group.isOpen"
          ng-class="{open: group.isOpen}">

        <div data-accordion-heading >
          <button class="filters-title"
                  ng-class="{open: group.isOpen}">
            {{group.name}}
          </button>
          <div class="clear"></div>
        </div>

<div class="REMOVED-filters-subsection-items ">
          <button class="filters-state btn btn-default btn-block single-filter-button" data-is-checked={{group.selected}} data-ng-click="groupClicked( group )"
            data-stop-event="click"> All
          </button>
          <button data-ng-repeat="option in group.options"
              class="btn btn-default btn-block single-filter-button"

              data-ng-click="toggleSelection(option)"
              data-is-checked={{option.isSelected}}>
            {{option.name}}
          </button>
        </div>

      </div>

      <div style="display: none" data-ng-repeat-end></div>

    </div>

</div>